In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("language.csv")

In [3]:
df

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      22000 non-null  object
 1   language  22000 non-null  object
dtypes: object(2)
memory usage: 343.9+ KB

In [5]:
df.isnull().sum()

Text        0
language    0
dtype: int64

In [6]:
df["language"].value_counts()

language
Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: count, dtype: int64

In [7]:
df[df.duplicated()]

                                                    Text    language
410    bisby fa roskov yr orrell tm nicolson d paglin...  Indonesian
581    haec commentatio automatice praeparata res ast...       Latin
1012   haec commentatio automatice praeparata res ast...       Latin
1027   bisby fa roskov yr orrell tm nicolson d paglin...  Indonesian
1460   haec commentatio automatice praeparata res ast...       Latin
...                                                  ...         ...
21427  seperti asteroid secara keseluruhan asteroid i...  Indonesian
21440  كباقي كويكبات معسكر الإغريق يقع مداره في النقط...      Arabic
21667  خواص - نسبتا اسيدي خواص لري په اوبو کى منحل دي...      Pushto
21739  இவ்வூர் கடல்மட்டத்தில் இருந்து சராசரியாக  மீட்...       Tamil
21743  haec commentatio automatice praeparata res ast...       Latin

[141 rows x 2 columns]

In [8]:
df.drop(df[df.duplicated()].index, axis=0, inplace=True)

In [9]:
df.shape

(21859, 2)

In [10]:
df["language"].nunique()

22

In [11]:
df["language"].value_counts()

language
Chinese       1000
Thai          1000
English       1000
Japanese      1000
Turkish       1000
Romanian      1000
Urdu          1000
Persian       1000
Korean        1000
Estonian       999
Russian        999
Arabic         998
Portugese      997
Spanish        996
Dutch          996
Pushto         993
Swedish        992
Hindi          990
French         990
Tamil          981
Indonesian     975
Latin          953
Name: count, dtype: int64

In [12]:
x = np.array(df["Text"])
y = np.array(df["language"])

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [14]:
cv = CountVectorizer()
X = cv.fit_transform(x)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, 
                                                    random_state=42)

In [16]:
from sklearn.naive_bayes import MultinomialNB

In [17]:
model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [18]:
model.score(X_test,y_test)

0.9535625173274189

In [19]:
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score, classification_report

In [21]:
accuracy_score(y_test, y_pred)

0.9535625173274189

In [22]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Arabic       1.00      0.99      1.00       330
     Chinese       0.92      0.49      0.64       301
       Dutch       0.99      0.98      0.99       323
     English       0.68      1.00      0.81       332
    Estonian       0.99      0.96      0.98       317
      French       0.96      1.00      0.98       320
       Hindi       1.00      0.97      0.99       316
  Indonesian       0.99      0.97      0.98       352
    Japanese       0.69      0.87      0.77       302
      Korean       1.00      0.99      0.99       355
       Latin       0.98      0.91      0.94       326
     Persian       1.00      1.00      1.00       330
   Portugese       1.00      0.96      0.98       331
      Pushto       1.00      0.96      0.98       305
    Romanian       1.00      0.99      0.99       356
     Russian       0.99      0.98      0.99       308
     Spanish       0.98      0.97      0.98       353
     Swedish       0.98      1.00      0.99       322
       Tamil       1.00      0.99      0.99       316
        Thai       1.00      0.99      0.99       329
     Turkish       1.00      0.98      0.99       363
        Urdu       1.00      0.97      0.98       327

    accuracy                           0.95      7214
   macro avg       0.96      0.95      0.95      7214
weighted avg       0.96      0.95      0.95      7214

In [23]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: Как Ваши дела
['Russian']

In [24]:
from googletrans import Translator
translator = Translator()

In [25]:
translation = translator.translate(user, dest='en')
print(translation.text)

How are you